<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet" type="text/css">
		<title>MVC-Hamburgers</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>