<h1>Eat-Da-Burger!</h1> 

<ol>
   {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Name: {{this.burger}}</p>
  	</li>
  {{/each}}


  {{!-- NEED T WO LISTS 
  <ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}

</ol>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="hambrg">Burger Name:</label>
    <input type="text" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>