#container-burger {
    background: lightpink
}


li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
form {
    padding: 5px;
    margin: 5px;
    background: lightgreen;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  